[Desktop Entry]
Name=Sample Monitor
Exec=bash -i /home/pi/CasMonitor/runApp
Terminal=true
Icon=/home/pi/CasMonitor/AppIcons/test-tube.png
Type=Application
Categories=Utility;Application;


