# This file contains common pin mappings for the BIGTREETECH SKR V1.3
# board. To use this config, the firmware should be compiled for the
# LPC1768.

# See the example.cfg file for a description of available parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1E0008086D10545307AB984D000000F5-if00

[mcu sample1]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1D80FF17C2003AAFB15C235CC62000F5-if00

[output_pin syringe]
pin: P2.7

[output_pin vent]
pin: P2.4

#X
[manual_stepper x] 
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .00625
endstop_pin: P1.28 #P1.29  # P1.28 for X-max
velocity: 50
accel: 250

#Y
[manual_stepper wheel]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .05625
endstop_pin: P1.27  # P1.26 for Y-max
velocity: 100
accel: 250

#Z
[manual_stepper z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
step_distance: .000625
endstop_pin: P1.25  # P1.24 for Z-max
velocity: 10
accel: 100

#E0
[manual_stepper pump]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
step_distance: .000625
endstop_pin: P1.29
velocity: 10
accel: 100

#[extruder1]
#step_pin: P0.1
#dir_pin: P0.0
#enable_pin: !P0.10
#heater_pin: P2.4
#sensor_pin: P0.25
#...

#X
[manual_stepper sampleF] 
step_pin: sample1:P2.2
dir_pin: !sample1:P2.6
enable_pin: !sample1:P2.1
step_distance: 0.0003125
endstop_pin: sample1:P1.29 #P1.29  # P1.28 for X-max
velocity: 5
accel: 25

#Y
[manual_stepper sampleE]
step_pin: sample1:P0.19
dir_pin: !sample1:P0.20
enable_pin: !sample1:P2.8
step_distance: .0003125
endstop_pin: sample1:P1.27  # P1.26 for Y-max
velocity: 5
accel: 25

#Z
[manual_stepper sampleD]
step_pin: sample1:P0.22
dir_pin: sample1:P2.11
enable_pin: !sample1:P0.21
step_distance: .0003125
endstop_pin: sample1:P1.25  # P1.24 for Z-max
velocity: 5
accel: 25

[printer]
kinematics: none
max_velocity: 1000
max_accel: 2000
#max_z_velocity: 25
#max_z_accel: 100


########################################
# TMC2208 configuration
########################################

# For TMC2208 UART
#   1) Remove all of the jumpers below the stepper drivers
#   2) Place jumpers on the red pin headers labeled XUART (XUART, YUART etc.)

#[tmc2208 stepper_x]
#uart_pin: P1.17
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2208 stepper_y]
#uart_pin: P1.15
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2208 stepper_z]
#uart_pin: P1.10
#microsteps: 16
#run_current: 0.650
#hold_current: 0.450
#stealthchop_threshold: 30

#[tmc2208 extruder]
#uart_pin: P1.8
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5

#[tmc2208 extruder1]
#uart_pin: P1.1
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5


########################################
# TMC2130 configuration
########################################

# For TMC SPI
#   1) Place jumpers on all the red pin headers under the stepper drivers
#   2) Remove jumpers from the red pin headers labeled XUART (XUART, YUART etc.)

#[tmc2130 stepper_x]
#cs_pin: P1.17
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P4.28
#spi_software_sclk_pin: P0.4
##diag1_pin: P1.29
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2130 stepper_y]
#cs_pin: P1.15
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P4.28
#spi_software_sclk_pin: P0.4
##diag1_pin: P1.27
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2130 stepper_z]
#cs_pin: P1.10
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P4.28
#spi_software_sclk_pin: P0.4
##diag1_pin: P1.25
#microsteps: 16
#run_current: 0.650
#hold_current: 0.450
#stealthchop_threshold: 30

#[tmc2130 extruder]
#cs_pin: P1.8
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P4.28
#spi_software_sclk_pin: P0.4
##diag1_pin: P1.28
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5

#[tmc2130 extruder1]
#cs_pin: P1.1
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P4.28
#spi_software_sclk_pin: P0.4
##diag1_pin: P1.26
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.
